html,body {
    height:100%;
    font-family:Calibri
}

header {
    display:block;
    background:#f0aa28;
    padding: 10px 10px;
}
section {
    width: 70%;
    background: #7396f8;
    float: right;
    overflow: auto;
    padding: 10px 10px;
    padding-bottom: 60px;
    padding-top: 30px;
}

aside {
    float: left;
    width: 20%;
    padding: 10px 10px;
}

footer {
    position: relative;
    clear: both;
    background: #61f028;
    padding: 10px 10px;
}

